

@model LoginFormModel

<div class="site-navbar-wrap">
    <div class="site-navbar-top">
        <div class="container py-3">
            <div class="row align-items-center">
                <div class="col-6">
                    <div class="d-flex mr-auto">
                        <a href="#" class="d-flex align-items-center mr-4">
                            <span class="icon-envelope mr-2"></span>
                            <span class="d-none d-md-inline-block">eltunhi@code.edu.az</span>
                        </a>
                        <a href="#" class="d-flex align-items-center mr-auto">
                            <span class="icon-phone mr-2"></span>
                            <span class="d-none d-md-inline-block">+994 77 566 31 61</span>
                        </a>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <div class="mr-auto">

                        @if (User.Identity.IsAuthenticated)
                        {


                            <a asp-controller="Home" asp-action="Signin" class="p-2 pl-0"><span>@User.Identity.Name.ToUpper()</span></a>
                            <a asp-controller="Home" asp-action="Logout" class="p-2 pl-0"><span>Logout</span></a>

                        }
                        else
                        {
                            <a asp-controller="Home" asp-action="Signin" class="p-2 pl-0"><span>LOG IN</span></a>
                            <a asp-controller="Home" asp-action="Register" class="p-2 pl-0"><span>SING UP</span></a>
                        }
                        <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
                        <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-2">
                    <h1 class="my-0 site-logo">
                        <a class="LIQUOR" href="index.html">LIQUOR STORE</a>
                    </h1>
                </div>
                <div class="col-10">
                    <nav class="site-navigation text-right" role="navigation">
                        <div class="container">
                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span style="color: chocolate;" class="icon-menu h3"></span></a></div>

                            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                                <li>
                                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="About" class="nav-link">About</a>
                                </li>

                                <li>
                                    <a asp-controller="Shop" asp-action="Index" class="nav-link">Product</a>
                                </li>
                                <li>
                                    <a asp-controller="Blog" asp-action="Index" class="nav-link">Blog</a>
                                </li>
                                <li>
                                    <a asp-controller="Home" asp-action="Contact" class="nav-link">Contact</a>
                                </li>

                                <li>
                                    <a href="#contact-section" class="nav-link">
                                        <span><i class="fas fa-shopping-basket"></i></span>
                                        <sup>3</sup>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hero" style="background-image: url(https://preview.colorlib.com/theme/liquorstore/images/xbg_2.jpg.pagespeed.ic.CNGkvk0ls9.webp);
        height: 400px;">

    <div class="textone" data-aos="fade-up">
        <p style="text-align: center;padding-top: 159px;font-size: 20px;font-weight: 700;">
            <span>
                <a href="index.html" style="color: gray;">
                    HOME
                    <i class="fa fa-chevron-right"></i>
                </a>
            </span>
            <span>
                LOG IN
                <i class="fa fa-chevron-right"></i>
            </span>
        </p>
        <h2 style="text-align: center;color:white;font-size: 90px;">Log In</h2>
    </div>
</div>


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="/assets/images/img-01.png" alt="IMG">
            </div>

            <form method="post" class="login100-form validate-form">

                @if (!string.IsNullOrWhiteSpace(ViewBag.ms))
                {
                    <div class="form-group mb-3">
                        <div class="alert alert-danger text-primary">
                            @ViewBag.ms
                        </div>
                    </div>
                }

                <span class="login100-form-title">
                    Member Login
                </span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input
                           class="input100"
                           asp-for="UserName"
                           placeholder="Name and Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input type="password"
                           class="input100"
                           asp-for="Password"
                           placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn">
                        Login
                    </button>
                </div>

                <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>

                <div class="text-center p-t-136">
                    <a class="txt2" asp-action="Register">
                        Create your Account
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>










