

@model ProductsViewModel

@{
    ViewData["Title"] = "Edit";
}


<h4>Blog Edit</h4>
<hr />
<div class="row">
    <div class="col-12 card-body">
        <div class="form-row">
            <form method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group col-12">

                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="Description" class="control-label"></label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="FullName" class="control-label sil"></label>
                    <textarea asp-for="FullName" class="form-control"></textarea>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group col-12">

                    <label asp-for="ShopDescription" class="control-label sil"></label>
                    <textarea asp-for="ShopDescription" class="form-control"></textarea>
                    <span asp-validation-for="ShopDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Icon Name</label>
                    <select asp-for="ProductTypesId" class="form-control" asp-items="ViewBag.ProductTypesId"></select>
                </div>
                <div class="form-group col-12 ">
                    <label class="control-label">
                        Şəkil
                    </label>
                    <label class="image-input"
                           data-imgurl="/assets/images/@Model.ImagePati"
                           for="file">
                        <input type="hidden" name="fileTemp" value="@Model.file">
                        <span>×</span>
                    </label>
                    <input name="file" id="file" type="file" accept="image/x-png,image/gif,image/jpeg">
                </div>

                <input type="hidden" asp-for="Id" />




                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>

    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Back to List</a>
</div>

@section addjs{

    <script src="~/libs/ckeditor5/ckeditor.js"></script>
    <script src="~/libs/jquery-image-input/JavaScript.js"></script>


    <script>

        $(document).ready(function () {

            ClassicEditor
                .create(document.querySelector('#Body'))
                .catch(error => {
                    console.error(error);
                });



        });
        $(document).ready(function () {

            var elem = $('.textarea').text().length;

            if (elem == 48) {
                $('.sil').hide();
            }

        });


    </script>
}


@section addcss{

    <link href="~/libs/jquery-image-input/StyleSheet.css" rel="stylesheet" />

}