

.hero {
	height: 100vh;
	width: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	
}
.site-navbar-wrap {
	display: block;
	position: absolute;
	z-index: 99;
	width: 100%;
	left: 0;
	a {
		color: $color-text;
	}

	.site-navbar-top {
		font-size: $font-size-base - .2rem;
		background-color: $color-pramiry;
	}
}

.site-navbar {
	margin-bottom: 0px;
	width: 100%;
	// border-bottom: 1px solid rgba($white, .1);
	
	.site-logo {
		font-weight: 200;
		line-height: 0;
		top: -7px;
		position: relative;
		a {
			color: $color-text-1;
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
			span{
				color: $color-text;
			}
		}
	}

	.site-navigation {
		
		.site-menu {
			margin-bottom: 0;
			
			a {
				text-decoration: none!important;
				display: inline-block;
				font-weight: 500;
			}
			> li {
				display: inline-block;
				padding: 10px 5px;
				> a {
					padding: 20px 10px;
					color: rgba($white, .6);
					font-size: 18px;
					text-decoration: none!important;
					&.active {
						color: $white;
					}
					&:hover {
						color: $color-pramiry;
					}
				}
				&:last-child {
					padding-right: 0;
					> a {
						padding-right: 0;
					}
				}
			}
			.has-children {
				position: relative;
				> a {
					position: relative;
					padding-right: 20px;
					&:before {
						position: absolute;
						content: "\e313";
						font-size: 16px;
						top: 50%;
						right: 0;
						transform: translateY(-50%);
						font-family: 'icomoon';
					}
				}
				.dropdown {
					visibility: hidden;
					opacity: 0;
					top: 100%;
					position: absolute;
					text-align: left;
					box-shadow: 0 0px 4px 0px rgba(0,0,0,.25);
					padding: 0px 0;
					margin-top: 20px;
					margin-left: 0px;
					background: $white;
					transition: 0.2s 0s;
					border-radius: 4px;
				
					&.arrow-top {
						position: absolute;
						&:before {
							bottom: 100%;
							left: 20%;
							border: solid transparent;
							content: " ";
							height: 0;
							width: 0;
							position: absolute;
							pointer-events: none;
						}
						&:before {
							border-color: rgba(136, 183, 213, 0);
							border-bottom-color: $white;
							border-width: 10px;
							margin-left: -10px;
						}	
					}
					

					a {
						font-size: 14px;
						text-transform: none;
						letter-spacing: normal;
						transition: 0s all;
						color: $gray-800;
						&.active {
							color: $primary;
						}
					}
					.active {
						> a {
							color: $white!important;
						}
					}
					> li {
						list-style: none;
						padding: 0;
						margin: 0;
						min-width: 200px;
						&:first-child {
							> a {
								border-top-left-radius: 4px;
								border-top-right-radius: 4px;	
							}
						}
						&:last-child {
							> a {
								border-bottom-left-radius: 4px;
							border-bottom-right-radius: 4px;
							}
						}
						> a {
							padding: 9px 20px;
							display: block;
							&:hover {
								background: lighten($gray-400, 10%);
								color: $gray-900;
							}
						}

						&.has-children {
							> a {
								&:before {
									content: "\e315";
									right: 20px;
								}
							}
							> .dropdown, > ul {
								left: 100%;
								top: 0;
							}
							&:hover, &:active, &:focus {
								> a {
									background: lighten($gray-400, 10%);
								color: $gray-900;
								}
							}
						}
					}
				}
				
				&:hover, &:focus, &:active {
					> a {
						color: $white;
					}
				}
				&:hover, &:focus, &:active {
					cursor: pointer;
					> .dropdown {
						transition-delay: 0s;
						margin-top: 0px;
						visibility: visible;
						opacity: 1;

				
					}
				}
			}
		}
	}
}


// mobile menu

.site-mobile-menu {
	width: 300px;
	position: fixed;
	right: 0;
	z-index: 2000;
	padding-top: 20px;
	background: $white;
	height: calc(100vh);
	
	transform: translateX(110%);
	box-shadow: -10px 0 20px -10px rgba(0,0,0,.1);
	transition: .3s all ease-in-out;

	.offcanvas-menu & {
		transform: translateX(0%);
	}

	.site-mobile-menu-header {
		width: 100%;
		float: left;
		padding-left: 20px;
		padding-right: 20px;
		
		.site-mobile-menu-close {
			float: right;
			margin-top: 8px;
			span {
				font-size: 30px;
				display: inline-block;
				padding-left: 10px;
				padding-right: 0px;
				line-height: 1;
				cursor: pointer;
				transition: .3s all ease;
				&:hover {
					color: $gray-300;
				}
			}
		}
		.site-mobile-menu-logo {
			float: left;
			margin-top: 10px;
			margin-left: 0px;
			a {
				display: inline-block;
				text-transform: uppercase;
				img {
					max-width: 70px;
				}
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.site-mobile-menu-body {
		// height: 400px;
		overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
		position: relative;
		padding: 20px;

		height: calc(100vh - 52px);
		padding-bottom: 150px;

	}
	.site-nav-wrap {
		padding: 0;
		margin: 0;
		list-style: none;
		// float: left;

		// width: 100%;
		// height: 100%;
		position: relative;

		a {
			padding: 10px 20px;
			display: block;
			position: relative;
			color: $gray-900;
			&.active, &:hover {
				color: $primary;
			}
		}
		li {
			position: relative;
			display: block;
			&.active {
				> a {
					color: $primary;
				}
			}
		}
		.arrow-collapse {
			position: absolute;
			right: 0px;
			top: 10px;
			z-index: 20;
			width: 36px;
			height: 36px;
			text-align: center;
			cursor: pointer;
			border-radius: 50%;
			&:hover {
				background: $gray-100;
			}
			&:before {
				font-size: 12px;
				z-index: 20;
				font-family: "icomoon";
				content: "\f078";
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(-180deg);
				transition: .3s all ease;
			}
			&.collapsed {
				&:before {
					transform: translate(-50%, -50%);	
				}
			}
		}
		> li {
			display: block;
			position: relative;
			float: left;
			width: 100%;
			
			> a {
				padding-left: 20px;
				font-size: 20px;
			}
			> ul {
				padding: 0;
				margin: 0;
				list-style: none;
				> li {
					display: block;
					> a {
						padding-left: 40px;
						font-size: 16px;
					}
					> ul {
						padding: 0;
						margin: 0;
						> li {
							display: block;
							> a {
								font-size: 16px;
								padding-left: 60px;			
							}
						}
					}
				}
			}
		}
		
	}
}

.sticky-wrapper {
	position: absolute;
	z-index: 100;
	width: 100%;
	& + .site-blocks-cover {
		// margin-top: 140px;
		margin-top: 96px;
	}
	.site-navbar {
		transition: .3s all ease;
		ul {
			li {
				&.active {
					a {
						color: $white;
					}
				}
			}
		}
		
	}
	&.is-sticky {
		.site-navbar {
			background-color: white;
		
			a{
				color: black;
			}

			.site-navigation {
				.site-menu {
					> li {

						display: inline-block;
						padding: 10px 5px;
						&:last-child {
							padding-right: 0;
							> a {
								padding-right: 0;
							}
						}
						&.has-children {
							> a {
								padding-right: 20px;
							}
						}
						> a {
							padding: 10px 10px;
							color: black;
							font-size: 15px;
							&:hover {
								//@function: $white!important;
							}
							&.active {
								color: $color-pramiry!important;
							}
						}
						&.active {
							a {
								color: red;
							}
						}
					}
				}
			}
		}
	}

}

.hero{
	background-position: 50% -15px;  
	// filter:sepia(80%);
	// position: absolute;
	opacity: 4;
	height: 800px;
	background-attachment: fixed;

	.text{
		width: 60%;
		height: 60%;
		//border: 1px solid red;
		position: relative;
		margin: 0px auto;
		// padding-left: 22%;
		padding-top: 22%;
		text-align: center;
		transform: rotate(-7deg);
		@media screen and (max-width:1166px) {
			width: 70%;
			font-size: 20px;
		}
		@media screen and (max-width:1000px) {
			width: 80%;
			font-size: 17px;

			
		}
		@media screen and (max-width:875px) {
			width: 88%;
		}
		@media screen and (max-width:798px) {
			width: 94%;
		}
		
	
	
		

		h1 {
			font-size: 70px;
			color: #fff;
			line-height: 1.1;
			font-weight: 700;
			font-style: italic;
			color: transparent;
			-webkit-text-fill-color: transparent;
			-webkit-text-stroke-width: 0.5px;
			-webkit-text-stroke-color: #fff;
			@media screen and (max-width:800px) {
				font-size: 50px;
				margin-top: 100px;
			}
			@media screen and (max-width:535px) {
				font-size: 35px;
				margin-top: 100px;
			}
		
			@media screen and (max-width:415px) {
				font-size: 35px;
				margin-top: 150px;
			}
			@media screen and (max-width:375px) {
				font-size: 35px;
				margin-top: 150px;
			}
			@media screen and (max-width:360px) {
				font-size: 30px;
				margin-top: 150px;
			}
			
			span {
				color: #b7472a;
				-webkit-text-fill-color: #fff;
				-webkit-text-stroke-width: 0px;
			
			}
		}
	}
}
.span1{
	margin-left: 150px;
}
.info{
	width: 100%;
	height: 300px;
	background-color: $color-pramiry;
	@media screen and (max-width:1024px) {
		height: 800px;
		// margin-top: -50px;
	}
}


.baby {
	width: 100%;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	// margin-top: -500px;
	
  }
  
  h3 {
	color: #262626;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
	margin-bottom: 4px;
  }
  
  p {
	font-size: 30px;
	font-weight: 400;
	line-height: 20px;
	padding-top: 20px;
	color: #666666;
  
	&.small {
	  font-size: 14px;
	}
  }

  


  
  .card2 {
	display: block;
	top: 0px;
	position: relative;
	max-width: 340px;
	height: 200px;
	background-color: #f2f8f9;
	border-radius: 4px;
	padding: 32px 24px;
	margin: 12px;
	text-decoration: none;
	z-index: 0;
	overflow: hidden;
	border: 1px solid #f2f8f9;
	
  
	&:hover {
	  transition: all 0.2s ease-out;
	  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
	  top: -4px;
	  border: 1px solid #cccccc;
	  background-color: white;
	}
  
  
	&:hover:before {
	  transform: scale(2.15);
	}
  }
  
  .yeah{
	//   border: 1px solid black;
	  height: 500px;
	  span{
		font-size: 18px;
		display: inline-block;
		margin-bottom: 0;
		color: #b7472a;
		font-size: 16px;
		font-weight: 400;
		font-style: italic;
		margin-top: 50px;
		margin-left: 30px;
		position: relative;
	  }
	  h2{
		line-height: 1.5;
		color: black;
		font-size: 40px;
		margin-left: 30px;
		font-weight: 700;
		@media screen and (max-width:850px) {
			font-size: 30px;
		}
	  }
	  p{
		  font-size: 16px;
		//   font-style: italic;
          line-height: 25px;
		  margin-left: 30px;
		  color: gray;
		  font-weight: 300;

	  }
	  .count{
		  margin-left: 30px;
		  padding-top: 10px;
		  display: flex;
		  p{
			font-size: 30px;
			color: red;
			padding-top: 10px;
			margin-left: 1px;
			@media screen and (max-width:850px) {
				font-size: 20px;
				margin-left: 0px;

			}
		

		  }
		  .fak{
			font-size: 30px;
			color: black;
			padding-top: 10px;
			margin-left: 16px;
		
			@media screen and (max-width:850px) {
				font-size: 20px;
				margin-left: 12px;

			}
			@media screen and (max-width:600px) {
				font-size: 17px;
				margin-left: 12px;

			}
			@media screen and (max-width:1030px) {
				font-size: 25px;
		  
		
		
			}
			@media screen and (max-width:660px) {
	
				font-size: 19px;
		
			}
		  }


	  }

  }



.flip-card {
	background-color: transparent;
	width: 130px;
	height: 130px;
	perspective: 1000px;
	border-radius: 50%;
  }
  
  .flip-card-inner {
	position: relative;
	width: 200px;
	height: 200px;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	border-radius: 50%;

	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  
  .flip-card-front {
	background-color: #bbb;
	color: black;
	border-radius: 50%;


  }
  
  .flip-card-back {
	transform: rotateY(180deg);
	background-color: $color-pramiry;
		border-radius: 50%;

  }
  .res{
	@media screen and (max-width:1200px) {
		margin-top: 80px;
	

	}


	@media screen and (max-width:991px) {
		padding-top: 100px;
		padding-left: 80px;


	}
	@media screen and (max-width:767px) {
		padding-top: 50px;
		padding-left: 160px;


	}
	@media screen and (max-width:600px) {
		padding-top: 50px;
		padding-left: 175px;


	}
	@media screen and (max-width:460px) {
		padding-top: 50px;
		padding-left: 125px;


	}
	
	
	@media screen and (max-width:435px) {
        margin-left: -50px;	
	}
	@media screen and (max-width:420px) {
		padding-top: 50px;
		padding-left: 155px;


	}
	
	@media screen and (max-width:400px) {
		padding-top: 50px;
		padding-left: 135px;


	}
	
	@media screen and (max-width:350px) {
		padding-top: 200px;
		padding-left: 40px;


	}
	@media screen and (max-width:330px) {
		padding-top: 200px;
		padding-left: 110px;


	}
	@media screen and (max-width:280px) {
		padding-top: 200px;
		padding-left: 90px;


	}
	  
  }
 
 .Tastefully{
	 width: 100%;
	 height: 140px;
	 //background-color: yellow;
	 margin-top: 140px;
	 text-align: center;
	 p{
		 color: #b7472a;
		 font-size: 16px;
		 font-weight: 400;
		 font-style: italic;
	 }
	 h2{
		font-size: 40px;
		font-weight: 700;
	 }
 }
.camo{
	height: 350px;
	margin-top: -200px;
	text-align: center;
	position: relative;

	img{
		height: 100%;
		width: 100%;
		
	}
	p{
	    font-style: italic;
         color: #b7472a;
		font-size: 20px;
		margin-top: 5px;
	}
	h2{
		font-size: 22px;
		text-transform: capitalize;
		font-weight: 300;
		margin-top: -10px;

	}
	h4{
		font-style: italic;
		color: #000000;
		font-size: 18px;
	}
	@media screen and (max-width:1000px) {
		margin-top: 260px;
	
	}
	@media screen and (max-width:768px) {
		margin-top: 600px;
	
	}
	@media screen and (max-width:730px) {
		margin-top: 550px;
	
	}
	@media screen and (max-width:550px) {
		margin-top: 600px;
		
	}
	@media screen and (max-width:500px) {
		margin-top: 450px;
	
	}
	@media screen and (max-width:435px) {
        margin-top: 410px;	
	}
	@media screen and (max-width:420px) {
		margin-top: 350px;
	
	}

	
}
.camo1{

	@media screen and (max-width:750px) {
		margin-top: 200px;
		
	}
	@media screen and (max-width:600px) {
		margin-top: 200px;
		
	}
	@media screen and (max-width:550px) {
		margin-top: 200px;
		
	}
	@media screen and (max-width:320px) {
		margin-top: 400px;
	
	}
	@media screen and (max-width:420px) {
		margin-top: 170px;
	
	}
	@media screen and (max-width:300px) {
		margin-top: 250px;
		
	}
}



.mc{
	height: 300px;
	@media screen and (max-width:1000px) {
		margin-top: -400px;
	
	}
}

.btn-primary{
	background: #b7472a !important;
	border: 1px
	solid #b7472a !important;
	color: #fff !important;
	margin-top: 80px;
	@media screen and (max-width:1000px) {
	margin-top: 450px;


	}
	@media screen and (max-width:992px) {
		margin-top: 1250px;
	
	
	}
	@media screen and (max-width:770px) {
		margin-top: 1900px;
	
	
	}
	@media screen and (max-width:760px) {
		margin-top: 3700px;
	
	
	}
	@media screen and (max-width:500px) {
		margin-top: 3250px;
	
	
	}
	@media screen and (max-width:435px) {
        margin-top: 2920px;	
	}
	@media screen and (max-width:415px) {
		margin-top: 2665px;
	
	
	}
	@media screen and (max-width:350px) {
		margin-top: 2550px;
	
	
	}
}

.karusel{
	width: 100%;
	height: 600px;
	background-color: black;
	background-size: cover;
	background-attachment: fixed;
	margin-top: 70px;
	filter: grayscale(70%);

	p{
		color: white;
		font-style:italic ;
		font-size: 25px;
		font-weight: 400;
		font-style: italic;
		text-align: center;
		padding-top: 100px;
		line-height: 30px;
	}
	h2{
		font-size: 30px;
        color: #fff;
		text-align: center;
		font-style: italic;


	}
}



  
  .faking {
	width: 35%;
	border-radius: 50%;
  }
  
  .container1 {
	width: 100%;
	overflow: hidden;
	position: relative;
  }
  
  .items {
	display: flex;
	align-items: center;
	width: fit-content;
	animation: carouselAnim 50s infinite alternate linear;
  }
  
  .entry {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	width: 300px;
	background: transparent;
	margin: 1em;
	padding: 0.5em;
	border-radius: 10px;
	border: 1px solid white;
	box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  }
  
  @media only screen and (max-width: 768px) {
	.items {
	  animation: carouselAnim 35s infinite alternate linear;
	}
	
	@keyframes carouselAnim {
	  from {
		transform: translate(0, 0);
	  }
	  to {
		transform: translate(calc(-100% + (2 * 300px)));
	  }
	}
  }
  
  .entry p {
	text-align: center;
	padding: 1em;
  }
  
  .name {
	font-weight: bold;
  }
  
  @keyframes carouselAnim {
	from {
	  transform: translate(0, 0);
	}
	to {
	  transform: translate(calc(-100% + (5 * 300px)));
	}
  }
  
  .container1 .faders {
	width: 100%;
	position: absolute;
	height: 100%;
  }
  

  
  .right {
	right: 0;
	background: linear-gradient(
	  to left,
	  rgba(245, 245, 245, 1) 0%,
	  rgba(255, 255, 255, 0) 100%
	);
  }
  
  
  .blog{
	height: 200px;
	  text-align: center;
	  p{
		margin-bottom: 0;
		color: #b7472a;
		font-size: 20px;
		font-weight: 400;
		font-style: italic;
		padding-top: 70px;

	  }
	  h2{
		font-size: 40px;
		font-weight: 700;
		padding-top: 10px;
	  }
  }



.site-navbar
 .site-logo 
 a{
	@media screen and (max-width:1200px) {
		font-size: 16px;
	}
	@media screen and (max-width:990px) {
		
		display: none;
		
	}
}
.blog-post{
	
	height: 350px;

	// border: 1px solid black;
	&__div{
		display: flex;

		a{
			background-image: url("/BeluqaTahir/assets/images/blog-1.jpg");
			height: 350px;
			width: 50%;
			@media screen and (max-width:415px) {
				height: 275px;


			}
			@media screen and (max-width:400px) 
			{

	      	height: 280px;
			background-position: center;
				
			}
		
		}
		&__desc{
			height: 350px;
			width: 50%;
			background-color: #f5f4f0!important;
			@media screen and (max-width:469px) {
				height: 375px;


			}
			@media screen and (max-width:397px) {
				
				height: 410px;


			}
			@media screen and (max-width:376px) {
				height: 454px;


			}
			@media screen and (max-width:340px) {
				height: 450px;
				

			}

			// display: flex;
			i{
				font-size: 17px;
				display: inline-block;
				margin-left: 25px;
				color: gray;
				font-size: 17px;
				margin-top: 25px;
				@media screen and (max-width:340px) {
					
					margin-top: 0px;
					margin-left:20px;
				}
			}
			p{
				color: gray;
				font-size: 17px;
				margin-left: 14px;
				margin-top: 5px;
				display: inline-block;
				@media screen and (max-width:340px) {
					
					margin-top: 0px;
					margin-left: 0px;


	
				}
			}
			h3{
				margin-top: -14px;

				p{
					width: 80%;
					font-size: 19px;
					font-weight: 500;
					font-style: italic;
					margin-left: 20px;
				    line-height: 1.5;
					color: black;
					text-align-last: justify;
					cursor: pointer;
					&:hover{
						color: $color-pramiry;
					}
					@media screen and (max-width:340px) {
					
						margin-top: 0px;
						margin-left: 10px;
					}
				}
			}
			.small{
				color: gray;
				font-style: italic;
				margin-left: 20px;
				margin-top: -14px;
				line-height: 1.6;
				@media screen and (max-width:340px) {
					
					margin-top: -20px;
					margin-left: 10px;
					font-size: 15px;


	
				}


			}
			.Continue{
				display: flex;
				align-items: center;
				color: red;
				margin-left: 20px;
				margin-top: 8px;
				display: inline-block;
				font-weight: 700;
				@media screen and (max-width:1200px) {
					margin-top: -10px;

				}
				
				@media screen and (max-width:340px) {
					margin-top: 0px;
					margin-left: 10px;

				}


			}
		}
		
	}







	
	@media screen and (max-width:1400px) {
		
        max-width: 50%;
		margin-top: 30px;
		
	}

}

.post{
	@media screen and (max-width:1000px) {
		
        max-width: 95%;
		margin: 20px auto;
		
	}
	@media screen and (max-width:600px) {
		
        max-width: 99%;
		margin: 20px auto;
	
}
}

.responsive{
	@media screen and (max-width:397px) {
		margin-top: 100px;

				

	}
	@media screen and (max-width:340px) {
		margin-top: 120px;

	}
}
.responsive1{
	@media screen and (max-width:397px) {
				
		margin-top: 100px;


	}
	@media screen and (max-width:340px) {
		margin-top: 120px;

	}
}
.responsive2{
	@media screen and (max-width:397px) {
				
		margin-top: 100px;


	}
	@media screen and (max-width:340px) {
		margin-top: 120px;

	}	
}


.fott{	
	height: 300px;
	// background-color: red;
	a{
		color: white;
		font-size: 25px;
	
		&:hover{
			color: $color-pramiry;
		}
		span{
			color: rgba(255, 255, 255, 0.3);
		}
	}
	p{
		font-size: 16px;
		color: white;
		margin-top: 16px;
		max-width: 200px;
		line-height: 1.5;
		font-weight: 300;
		@media screen and (max-width:900px) {
			max-width: 500px;
		}
	}
	ul{
		list-style-type: none;
		display: flex;
		color: #fff;
		margin-left: -48px;
		margin-top: 30px;
		@media screen and (max-width:991px) {
			margin-top: -14px;
		}
		@media screen and (max-width:770px) {
			margin-top: 18px;
		}
		@media screen and (max-width:414px) {
			margin-top: -5px;
		}
		@media screen and (max-width:400px) {
			margin-top: -5px;
		}
		li{

			width: 55px;
			height: 55px;
			background-color: #b7472a;
			border-radius: 50%;
			margin-left: 10px;
			span{
				display: inline-block;
				margin-left: 22px;
				margin-top: 20px;
			}

		}
	}
}

.fott1{
	h2{
		// text-align: center;
		color: rgba(255,255,255,.8);
		font-size: 25px;
        font-weight: 400;
		margin-left: 50px;
		@media screen and (max-width:995px) {
			margin-left: 0px;
			margin-top: -100px;

		}
	
	}
	ul{
		margin-left: 15px;
		list-style: none;
		margin-top: 34px;
		display: inline-block;
		@media screen and (max-width:995px) {
			margin-left: -37px;

			

		}


		li{
			margin-bottom: 10px;
			margin-top: 0px;

			a{
				color: rgba(255,255,255,.5);
				display: inline-block;
				margin-top:7px;

			}
		}
	}
}

.fott2{
	h2{
		color: rgba(255, 255, 255, 0.8);
		font-size: 25px;
		margin-left: 50px;

	}
	ul{
		margin-left: 15px;
		list-style: none;
		margin-top: 34px;
		display: inline-block;
		@media screen and (max-width:995px) {
			margin-left: -37px;

			

		}


		li{
			margin-bottom: 10px;
			margin-top: 0px;

			a{
				color: rgba(255,255,255,.5);
				display: inline-block;
				margin-top:7px;

			}
		}
	}
}

.fott3{
	h2{
		color: rgba(255, 255, 255, 0.8);
		font-size: 20px;
		margin-left: 40px;
	}
	ul{
		margin-left: 15px;
		list-style: none;
		margin-top: 34px;
		display: inline-block;
		@media screen and (max-width:995px) {
			margin-left: -37px;

			

		}


		li{
			margin-bottom: 10px;
			margin-top: 0px;

			a{
				color: rgba(255,255,255,.5);
				display: inline-block;
				margin-top:7px;

			}
		}
	}
}


:root{
	--gra: #a23f25;
}
.drinkimage{
	// border: 1px solid black;
	height: 400px;

	
	.product-field{
		width: 100%;
		height: 100%;
		
	}

}

.product-field ul{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-left: 0;
    padding: 0;
}
.product-field ul li{
	list-style: none;
	height: 400px;
	transition: 0.5s all;
	background: #f2f8f9;
	/*overflow: hidden;*/
	border-radius: 20px;
	position: relative;
}
picture{
	background: #eee;
    padding: 5px;
    position: absolute;
    right: 0;
    bottom: 41%;
    width: 75%;
    height: 59%;
    border-radius: 115px 20px 0 115px;
    transform: skewY(0deg);
    overflow: hidden;
    // box-shadow: 0px 1px 0px #00000020, -1px 0px 0px #ccc;
}
picture img {
  width: 138%;
  margin-left: -5px;
  z-index: 1;
}
.detail{
	width: 100%;
	height: 100%;
}
.detail .icon{
	width: 30%;
	height: 55%;
}
.icon span{
	background: #00000030;
	display: inline-block;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	padding: 0;
	border-radius: 50%;
	margin: 0 0 20px 5px;
	font-size: 20px;
	color: white;
}
.icon span:hover{
	background: var(--gra);
	cursor: pointer;
}
.detail > strong{
	display: inherit;
	margin: 20px;
	font-size: 30px;
	letter-spacing: 2px;
	color: #555;
}
.detail > span{
	display: inherit;
	padding: 0 20px;
	width: 80%;

	@media screen and (max-width:1200px) {
		font-size: 13px;
	}
}
.detail small{
	display: inline-block;
	padding: 3px 20px;
	margin: 15px;
	font-weight: bold;
	border-radius: 6px;
	border: 1px solid #999;
	cursor: pointer;
}
.detail small:hover{
		background: var(--gra);
		color: white;
		border-color: cyan;
}
li .qymet{
	position: absolute;
	margin-top: 40px;
	right: 10px;
	top: 49%;
	font-size: 30px;
	color: #555;
	text-shadow: 1px 1px 2px black;
}

.resdrink{
	@media screen and(max-width:991px) {
		margin-top: 20px;
	}
	@media screen and(max-width:767px) {
		margin-left: 115px;
	}
	@media screen and(max-width:520px) {
		margin-left: 100px;
	}
	@media screen and(max-width:460px) {
		margin-left: 80px;
	}
	@media screen and(max-width:440px) {
		margin-left: 70px;
	}
	@media screen and(max-width:375px) {
		margin-left: 40px;
	}
	@media screen and(max-width:320px) {
		margin-left: 5px;
	}
}